@import 'styles/config.scss';

.TestCard {
  position: relative;
  width: 233px;
  height: 317px;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 20px;
  &-Wrapper {
    cursor: pointer;
    background-color: #2a2a3f;
    margin-bottom: 10px;
    padding: 25px;
    width: 350px;
    height: 250px;
    border-radius: 8px;
  }

  &-Title {
    color: #fff;
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 24px;
    text-align: center;
  }

  &-Desc {
    color: #fff;
  }

  
}