@import 'styles/config.scss';

.AdminMoviePage {

  &-Header {
    padding: 20px 10px;
    background-color: $black;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    button {

    }
  }

  &-Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: 2px solid $black;
    min-height: 110px;
    & > * {
      width: 20%;
      
    }
    img {
      width: 60px;
    }
    &:hover {
      background-color: $black;
    }

    &-Delete {
      color: #fff;
    }
  }
}